PORT=10000
RSS_FEED_URLS=https://rss.cnn.com/rss/edition.rss,https://feeds.bbci.co.uk/news/world/rss.xml,https://feeds.reutersagency.com/feed/?best-topics=tech&post_type=best
GEMINI_API_KEY=your_gemini_api_key_here
GROQ_API_KEY=your_groq_api_key_here_optional
PABBLY_WEBHOOK_URL=https://connect.pabbly.com/workflow/sendwebhookdata/IjU3NjYwNTY0MDYzMDA0MzQ1MjY1NTUzNTUxMzQi_pc
GEMINI_MODEL=gemini-1.5-flash
MAX_POSTS_PER_CYCLE=2
